/* App Container */

/* App Container */
.app-container {
  display: flex;
  height: 100vh;
  width: 100%;
  transition: background 0.5s ease; /* Smooth transition when background changes */
}

/* Left Panel */
.left-panel {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: transparent; /* Make it transparent to inherit background */
  position: relative;
  padding: 20px 0;
}

/* Center Panel */
.center-panel {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: transparent; /* Make it transparent to inherit background */
}

/* Right Panel */
.right-panel {
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: transparent; /* Make it transparent to inherit background */
}


.logo {
  margin-left: 20px;
}

.profile-image {
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: 40px;
  height: 40px;
}

/* Center Panel */


.tab-menu {
  display: flex;
  justify-content: center; /* Center the tab menu */
  margin-bottom: 20px;
}

.tab-menu > div {
  cursor: pointer;
  padding: 10px 20px;
  font-weight: bold;
  color: #b3b3b3;
}

.tab-menu > div.active {
  color: #ffffff;
}




